table {
	width: 100%;
	text-align: center;
}

table, th, tr, td {
	border: 1px solid black;
	/* Adds border around all cells in table */
}

#bandName {
	text-align: center;
}

h2 {
	text-align: center;
}