body {
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	text-align: center;
}

.nav {
	padding: 10px;
}

.nav a {
	padding: 0px 10px;
}

.description {
	border: 1px solid black;
	width: 500px;
	margin: auto;
}

#descParagraph {
	margin: 10px;
}

footer {
	text-align: center;
}

