body {
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	text-align: center;
}

.nav {
	padding: 10px;
}

.nav a {
	padding: 0px 10px;
}

.description {
	border: 1px solid #777;
	width: 500px;
	margin: auto;
	background: #fff;
}

#descParagraph {
	margin: 10px;
}

.homepageContent {
	background: rgba(255, 195, 0, .25);
	padding: 10px;
}


.menuTable {
	background: rgba(221, 16, 33, .25);
}

.menuTable table, .menuTable tr, .menuTable td {
	text-align: center;
	border-spacing: 10px;
}

.menuTable th {
	width: 33%;
	font-size: larger;
}

label {
	font-weight: bold;
} 

footer {
	text-align: center;
}
