a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: green;
}

a:active {
	text-decoration: none;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#albumTitle {
	font-family: 'Mitr', sans-serif;
	text-align: center;
}

.bandMembers h2 {
	font-family: 'Mitr', sans-serif;
}

.bandMembers li {
	font-style: italic;
}