.menuFood p:first-child {
	font-weight: bold;
}

label {
	text-align: right;
}

#carousel-mcDowells {
	margin-bottom: 20px;
}

#carousel-mcDowells  img {
	width: auto;
	height: 345px;
	max-height: 345px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none;
}

label[for=phone], label[for=additionalInformation] {
	font-weight: 400;
}

