a {
	font-weight: normal;
}

a:link {
	font-weight: normal;
}

a:visited {
	color: green;
	font-weight: normal;
}

a:hover {
	font-weight: bold;
}

a:active {
	font-weight: normal;
	text-decoration: none;
}

body {
	font-family: 'Open Sans', sans-serif;
}

header h1 {
	text-align: center;
}

.nav {
	padding: 10px;
}

.nav a {
	padding: 0px 10px;
}

.nav a:visited {
	color: green;
}

.nav a:hover {
	font-weight: bold;
}

.nav a:active {
	text-decoration: none;
}

.description {
	border: 1px solid #777;
	width: 500px;
	margin: auto;
	background: #fff;
}

#descParagraph {
	margin: 10px;
}

.homepageContent {
	background: rgba(255, 195, 0, .25);
	padding: 10px;
}


.menuTable {
	background: rgba(221, 16, 33, .25);
}

.menuTable table, .menuTable tr, .menuTable td {
	text-align: center;
	border-spacing: 10px;
}

.menuTable th {
	width: 33%;
	font-size: larger;
}

.drinkTable {
	background: rgba(221, 16, 33, .25);
}

.drinkTable table, .drinkTable tr, .drinkTable td {
	border-spacing: 10px;
	margin: auto;
}

.drinkTable th {
	font-size: larger;
	text-decoration: underline;
}

label {
	font-weight: bold;
} 

footer {
	text-align: center;
}
