table {
	width: 100%;
	text-align: center;
}

table, th, tr, td {
	border: 1px solid black;
	/* Adds border around all cells in table */
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#backgroundImage {
	background-image: url("theinfamous.jpg");
	background-size: 100%;
	height: 360px;
	width: 360px;
	margin: auto;
}

#albumTitle {
	font-family: 'Mitr', sans-serif;
	text-align: center;
}

.bandMembers h2 {
	font-family: 'Mitr', sans-serif;
}

.bandMembers li {
	font-style: italic;
}