.buffer { 
		margin: 20px 0;
	}

/*input {
	max-width: 100%;
	float: left;
}*/
#resultsContainer {
	background-color: #EEEEEE;
}
table thead {
	background-color: #CCCCCC;
}
caption {
	text-align: center;
	color: #000000;
	text-decoration: underline;
}
#btnDiceGame {
	background-color: #CCCCCC;
	border: 2px solid #757575;
}

#startingBet {
	text-align: right;
}

label[for=startingBet] {
	font-size: large;
	float: right;
	margin: .25em;
}