a {
	text-decoration: none;
}

a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
	background-color: green;
}

a:active {
	text-decoration: none;
}
table {
	width: 100%;
	text-align: center;

}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

thead {
	background-color: lightgrey;
}

tbody {
	font-style: italic;
	background-color: pink;
}

h2 {
	text-align: center;
}

p {
	text-align: center;
}

#backgroundImage {
	background-image: url("theinfamous.jpg");
	background-size: 100%;
	height: 360px;
	width: 360px;
	margin: auto;
}

#albumTitle {
	font-family: 'Mitr', sans-serif;
	text-align: center;
}

.bandMembers h2 {
	font-family: 'Mitr', sans-serif;
}

.bandMembers li {
	font-style: italic;
}